.spacer {
  flex: 1 1 auto;
}

button.small {
  width: 48px !important;
  height: 48px !important;
  margin: -10px!important;

  .mat-icon {
    // font-size: 15px;
    width: 100%; /* Make sure the icon takes the full width of the button */
    height: 100%; /* Make sure the icon takes the full height of the button */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
