<button mat-icon-button #tooltip="matTooltip" [matTooltip]="accessControlDevice.Name" (click)="openDialog(accessControlDevice)">
  @switch (accessControlDevice.Type) {
    @case (accessControlDeviceType.Drawbridge) {
      <mat-icon class="button-icon icon-flip-y" [class.open]="!accessControlDevice.Outputs?.[0]"
        >tools_level</mat-icon
      >
    }
    @case (accessControlDeviceType.Gate) {
      <mat-icon class="button-icon icon-flip-y" [class.open]="!accessControlDevice.Outputs?.[0]">comedy_mask</mat-icon>
    }
    @case (accessControlDeviceType.Portcullis) {
      <mat-icon class="button-icon icon-flip-y" [class.open]="!accessControlDevice.Outputs?.[0]"
        >fence</mat-icon
      >
    }
    @case (accessControlDeviceType.PosternGate) {
      <mat-icon class="button-icon" [class.open]="!accessControlDevice.Outputs?.[0]"
        >outdoor_garden</mat-icon
      >
    }
    @case (accessControlDeviceType.Door) {
      <mat-icon class="button-icon" [class.open]="!accessControlDevice.Outputs?.[0]">gate</mat-icon>
    }
    @default {
      <mat-icon class="button-icon" [class.open]="!accessControlDevice.Outputs?.[0]"
        >question_mark</mat-icon
      >
    }
  }
  @if (accessControlDevice.Inputs && accessControlDevice.Inputs[1] != null) {
    <mat-icon class="icon-status filled" [class.locked]="accessControlDevice.Inputs[1]">{{
      accessControlDevice.Inputs[1] ? "lock" : "lock_open_right"
    }}</mat-icon>
  }
</button>
