<mat-toolbar>
  <app-menu-button></app-menu-button>
  <h1 class="page-title">{{ pageTitle }}</h1>
  <span class="spacer"></span>
</mat-toolbar>

<div class="dashboard-grid">
  <div *ngIf="accessControlSystems.length; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <app-access-control-system *ngFor="let accessControlSystem of accessControlSystems"
      [accessControlSystem]="accessControlSystem"></app-access-control-system>
  </ng-template>
  <ng-template #elseBlock>No system found.</ng-template>
</div>