<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ accessControlSystem?.Name }}</mat-card-title>
    <!-- <mat-card-subtitle>Card Subtitle</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="path-to-your-image.jpg" alt="Image description"> -->
  <mat-card-content>
    @for (accessControlDevice of accessControlDevices; track accessControlDevice) {
      <app-access-control-device
      [accessControlDevice]="accessControlDevice"></app-access-control-device>
    }
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- <button mat-button>Edit</button> -->
  </mat-card-actions>
</mat-card>